<h1>Profile</h1>

<div ng-if="!profileCtrl.form" class="registerContainer">
  <div class="registerButtons">
    <div ng-if="!profileCtrl.profile.profile.is_helper">
      <button type="button" class="btn btn-default" ng-click="profileCtrl.Register('is_helper', profileCtrl.profile.profile.id); profileCtrl.profile.profile.is_helper=true">Register as a Helper</button>
    </div>
    <div ng-if="!profileCtrl.profile.profile.is_asker">
      <button ng-click="profileCtrl.Register('is_asker', profileCtrl.profile.profile.id); profileCtrl.profile.profile.is_asker=true" type="submit" class="btn btn-default">Register as a Requester</button>
    </div>
  </div>
</div>

<div ng-if="profileCtrl.profile.profile" class="container profile col-md-4">
  <div class="row">
    <img src="{{profileCtrl.profile.profile.img_url}}">
    <h3>{{profileCtrl.profile.profile.first_name}} {{profileCtrl.profile.profile.last_name}}</h3>
    <p>{{profileCtrl.profile.profile.city}}, {{profileCtrl.profile.profile.state}}</p>
    <p>{{profileCtrl.profile.profile.intro}}</p>
  </div>
</div>

<!-- Helps Table -->
<button type="submit" class="btn btn-default"><a href="#/help">HELP SOMEONE</a></button>
<div ng-if="profileCtrl.profile.helps.length > 0" class="text-center col-md-8 container helps">
  <h3 class="text-center">Currently Helping</h3>
  <table class="table table-bordered table-striped helpsTable">
    <tr>
      <th></th>
      <th>Asker id</th>
      <th>Description</th>
      <th>Subject</th>
      <th>Type</th>
      <th>City</th>
      <th>State</th>
    </tr>
    <tr ng-repeat="help in profileCtrl.profile.helps">
      <td>
        <button type="click" class="btn btn-default"><a href="#/singleHelp/{{help.id}}">View Help</a></button>
      </td>
      <td>{{help.asker_id}}</td>
      <td>{{help.description}}</td>
      <td>{{help.subject}}</td>
      <td>{{help.type}}</td>
      <td>{{help.city}}</td>
      <td>{{help.state}}</td>
    </tr>
  </table>
</div>

<!-- Asks Table -->
<button type="submit" class="btn btn-default">ASK FOR HELP</button>
<div ng-if="profileCtrl.profile.asks.length > 0" class="text-center col-md-8 container asks">
  <h3 class="text-center">MY ASKS</h3>
  <table class="table table-bordered table-striped asksTable">
    <tr>
      <th></th>
      <th>Helper id</th>
      <th>Description</th>
      <th>Subject</th>
      <th>Type</th>
      <th>City</th>
      <th>State</th>
    </tr>
    <tr ng-repeat="ask in profileCtrl.profile.asks">
      <td>
        <button type="click" class="btn btn-default"><a href="#/singleHelp/{{ask.id}}">VIEW ASK</a></button>
      </td>
      <td>{{ask.helper_id}}</td>
      <td>{{ask.description}}</td>
      <td>{{ask.subject}}</td>
      <td>{{ask.type}}</td>
      <td>{{ask.city}}</td>
      <td>{{ask.state}}</td>
    </tr>
  </table>
</div>

<div  ng-if="!profileCtrl.profile.profile">
  <div class="col-md-4">
    <form ng-submit="profileCtrl.createProfile()">
      <div class="form-group">
        <input type="text" class="form-control" id="first_name" ng-model="profileCtrl.newProfile.first_name" placeholder="First Name" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="last_name" ng-model="profileCtrl.newProfile.last_name" placeholder="Last Name" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="intro" ng-model="profileCtrl.newProfile.intro" placeholder="Introduce yourself" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="img_url" ng-model="profileCtrl.newProfile.img_url" placeholder="Avatar Image" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="city" ng-model="profileCtrl.newProfile.city" placeholder="City" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="state" ng-model="profileCtrl.newProfile.state" placeholder="State" required>
      </div>
      <button type="submit" class="btn btn-default">Create Profile</button>
    </form>
