<h1>Profile</h1>

<div class="registerContainer">
  <div class="registerButtons">
    <div ng-if="!profileCtrl.profile.profile.is_helper">
      <button type="button" class="btn btn-default" ng-click="profileCtrl.Register('is_helper', profileCtrl.profile.profile.id); profileCtrl.profile.profile.is_helper=true">Register as a Helper</button>
    </div>
    <div ng-if="!profileCtrl.profile.profile.is_asker">
      <button ng-click="profileCtrl.Register('is_asker', profileCtrl.profile.profile.id); profileCtrl.profile.profile.is_asker=true" type="submit" class="btn btn-default">Register as a Requester</button>
    </div>
  </div>
</div>

<div class="container profile col-md-4">
  <div class="row">
    <img src="{{profileCtrl.profile.profile.img_url}}">
    <h3>{{profileCtrl.profile.profile.first_name}} {{profileCtrl.profile.profile.last_name}}</h3>
    <p>{{profileCtrl.profile.profile.city}}, {{profileCtrl.profile.profile.state}}</p>
    <p>{{profileCtrl.profile.profile.intro}}</p>
  </div>
</div>

<!-- Helps Table -->

<div ng-if="profileCtrl.profile.helps.length > 0" class="text-center col-md-8 container helps">
  <button type="submit" class="btn btn-default"><a href="#/help">HELP SOMEONE</a></button>
  <h3 class="text-center">Currently Helping</h3>
  <table class="table table-bordered table-striped helpsTable">
    <tr>
      <th></th>
      <th>Asker id</th>
      <th>Description</th>
      <th>Subject</th>
      <th>Type</th>
      <th>City</th>
      <th>State</th>
    </tr>
    <tr ng-repeat="help in profileCtrl.profile.helps">
      <td>
        <button type="click" class="btn btn-default"><a href="#/singleHelp/{{help.id}}">View Help</a></button>
      </td>
      <td>{{help.asker_id}}</td>
      <td>{{help.description}}</td>
      <td>{{help.subject}}</td>
      <td>{{help.type}}</td>
      <td>{{help.city}}</td>
      <td>{{help.state}}</td>
    </tr>
  </table>
</div>

<!-- Asks Table -->

<div ng-if="profileCtrl.profile.asks.length > 0" class="text-center col-md-8 container asks">
  <button type="submit" class="btn btn-default">SUBMIT NEW HELP</button>
  <h3 class="text-center">MY ASKS</h3>
  <table class="table table-bordered table-striped asksTable">
    <tr>
      <th></th>
      <th>Helper id</th>
      <th>Description</th>
      <th>Subject</th>
      <th>Type</th>
      <th>City</th>
      <th>State</th>
    </tr>
    <tr ng-repeat="ask in profileCtrl.profile.asks">
      <td>
        <button type="click" class="btn btn-default"><a href="#/singleHelp/{{ask.id}}">VIEW ASK</a></button>
      </td>
      <td>{{ask.helper_id}}</td>
      <td>{{ask.description}}</td>
      <td>{{ask.subject}}</td>
      <td>{{ask.type}}</td>
      <td>{{ask.city}}</td>
      <td>{{ask.state}}</td>
    </tr>
  </table>
</div>

<!-- <div ng-if="helpCtrl.form"> -->
  <!-- <div class="col-md-4">
    <form ng-submit="helpCtrl.addHelp()">
      <div class="form-group">
        <input type="text" class="form-control" id="username" ng-model="helpCtrl.helpObj.username" placeholder="Username" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="email" ng-model="helpCtrl.helpObj.email" placeholder="Email" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="password" ng-model="helpCtrl.helpObj.password" placeholder="Password" required>
      </div>
      <button type="submit" class="btn btn-default">ASK FOR HELP</button>
    </form> -->

<!-- <div ng-if="coffeeCtrl.form">
  <div class="col-md-4">
    <form ng-submit="coffeeCtrl.addCoffee()">
      <div class="form-group">
        <input type="text" class="form-control" id="name" ng-model="coffeeCtrl.coffeeObj.name" placeholder="Name" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="roaster" ng-model="coffeeCtrl.coffeeObj.roaster" placeholder="Roaster" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="origin" ng-model="coffeeCtrl.coffeeObj.origin" placeholder="Origin" required>
      </div>
      <div class="form-group">
        <label>Roast:</label>
        <select class="form-control" ng-model="coffeeCtrl.coffeeObj.roast" required>
          <option>Dark</option>
          <option>Medium</option>
          <option>Light</option>
        </select>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" id="caffeine" ng-model="coffeeCtrl.coffeeObj.caffeine" placeholder="Caffeine" required>
      </div>
      <div class="form-group">
        <label>Decaf:</label>
        <select class="form-control" ng-model="coffeeCtrl.coffeeObj.decaf" required>
          <option>true</option>
          <option>false</option>
        </select>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" id="price" ng-model="coffeeCtrl.coffeeObj.price" placeholder="Price" required>
      </div>
      <div class="form-group">
        <label for="quantity">Coffee Quantity</label>
        <input type="number" class="form-control" id="quantity" ng-model="coffeeCtrl.coffeeObj.quantity" placeholder="Quantity" required>
      </div>
      <button type="submit" class="btn btn-default">Add</button>
    </form> -->
