<h1>Register</h1>
<div ng-if="registerCtrl.form">
  <div class="col-md-4">
    <form ng-submit="registerCtrl.Register()">
      <div class="form-group">
        <input type="text" class="form-control" id="username" ng-model="registerCtrl.registerObj.username" placeholder="Username" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="email" ng-model="registerCtrl.registerObj.email" placeholder="Email" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="password" ng-model="registerCtrl.registerObj.password" placeholder="Password" required>
      </div>
      <button type="submit" class="btn btn-default">Register</button>
    </form>
