body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
}

.subBar {
  width:95%;
  margin-top: 50px;
  z-index: 2;
}

a {
  color: #00B7FF;
}

#carousel {
  width: 100%;
  position:relative;
  overflow: hidden;
  z-index: 1;
}
