body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
  padding-bottom: 60px;
}

.subBar {
  width:95%;
  margin-top: 50px;
  z-index: 2;
}

.footer {
  border-top: 2px solid lightgray;
  position:absolute;
  bottom: 0;
  width:100%;
  clear: both;
}

a {
  color: #00B7FF;
}

#carousel {
  width: 100%;
  position:relative;
  overflow: hidden;
  z-index: 1;
}

.how {
  float: right;
  border: 2px solid lightgray;
  border-radius: 10px;
  margin: 3rem;
}

.why {
  float: left;
  border: 2px solid lightgray;
  border-radius: 10px;
  margin: 3rem;
}
