.profile {
  display: inline-block;
  }

  .profile img {
  width: 150px;
  height: 150px;
}

.profile h3 {
  clear: both;
}

.helps {
  float:right;
  display: inline-block;
}

.asks {
  float:right;
  display: inline-block;
}
