<!-- Carousel -->

<div class="object-responsive text-center">
  <div class="carousel">
    <ul>
      <li>
        <img  src="images/vgoiy1gzzyg-atlas-green.jpg">
      </li>
      <li>
        <img  src="images/tvkvskrlkb8-igor-ovsyannykov.jpg">
      </li>
      <li>
        <img  src="images/vbxll1xpsdc-quino-al.jpg">
      </li>
      <li>
        <img  src="https://hd.unsplash.com/photo-1465232377925-cce9a9d87843">
      </li>
    </ul>
  </div>
  <div class="container pager">
      <p class="previous"><a>&larr;</a></p>
      <p class="next"><a>&rarr;</a></p>
  </div>

</div>

<script type="text/javascript" src="carousel.js"></script>
